In [1]:
import pandas as pd 
import numpy as np

In [2]:
data = [
    ['Nissan', 'Stanza', 1991, 138, 4, 'MANUAL', 'sedan', 2000],
    ['Hyundai', 'Sonata', 2017, None, 4, 'AUTOMATIC', 'Sedan', 27150],
    ['Lotus', 'Elise', 2010, 218, 4, 'MANUAL', 'convertible', 54990],
    ['GMC', 'Acadia',  2017, 194, 4, 'AUTOMATIC', '4dr SUV', 34450],
    ['Nissan', 'Frontier', 2017, 261, 6, 'MANUAL', 'Pickup', 32340],
]

columns = [
    'Make', 'Model', 'Year', 'Engine HP', 'Engine Cylinders',
    'Transmission Type', 'Vehicle_Style', 'MSRP'
]

In [3]:
df = pd.DataFrame(data, columns=columns)

In [4]:
df.head(2)

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP
0,Nissan,Stanza,1991,138.0,4,MANUAL,sedan,2000
1,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150

In [5]:
df.index = ['a', 'b', 'c', 'd', 'e']

In [6]:
df

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP
a,Nissan,Stanza,1991,138.0,4,MANUAL,sedan,2000
b,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150
c,Lotus,Elise,2010,218.0,4,MANUAL,convertible,54990
d,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr SUV,34450
e,Nissan,Frontier,2017,261.0,6,MANUAL,Pickup,32340

In [8]:
df.reset_index(drop=True)

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP
0,Nissan,Stanza,1991,138.0,4,MANUAL,sedan,2000
1,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150
2,Lotus,Elise,2010,218.0,4,MANUAL,convertible,54990
3,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr SUV,34450
4,Nissan,Frontier,2017,261.0,6,MANUAL,Pickup,32340

In [9]:
df.iloc[2, 3]

218.0

In [14]:
df.iloc[0:3, 4:7]

   Engine Cylinders Transmission Type Vehicle_Style
a                 4            MANUAL         sedan
b                 4         AUTOMATIC         Sedan
c                 4            MANUAL   convertible

In [16]:
df.describe().round(2)

          Year  Engine HP  Engine Cylinders      MSRP
count     5.00       4.00              5.00      5.00
mean   2010.40     202.75              4.40  30186.00
std      11.26      51.30              0.89  18985.04
min    1991.00     138.00              4.00   2000.00
25%    2010.00     180.00              4.00  27150.00
50%    2017.00     206.00              4.00  32340.00
75%    2017.00     228.75              4.00  34450.00
max    2017.00     261.00              6.00  54990.00

Convert `df` into a dictionary

In [19]:
# list of dictionaries
df.to_dict(orient='records')[:3]

[{'Make': 'Nissan',
  'Model': 'Stanza',
  'Year': 1991,
  'Engine HP': 138.0,
  'Engine Cylinders': 4,
  'Transmission Type': 'MANUAL',
  'Vehicle_Style': 'sedan',
  'MSRP': 2000},
 {'Make': 'Hyundai',
  'Model': 'Sonata',
  'Year': 2017,
  'Engine HP': nan,
  'Engine Cylinders': 4,
  'Transmission Type': 'AUTOMATIC',
  'Vehicle_Style': 'Sedan',
  'MSRP': 27150},
 {'Make': 'Lotus',
  'Model': 'Elise',
  'Year': 2010,
  'Engine HP': 218.0,
  'Engine Cylinders': 4,
  'Transmission Type': 'MANUAL',
  'Vehicle_Style': 'convertible',
  'MSRP': 54990}]

In [21]:
# dictionary key:[list of values]
df.to_dict(orient='list')

{'Make': ['Nissan', 'Hyundai', 'Lotus', 'GMC', 'Nissan'],
 'Model': ['Stanza', 'Sonata', 'Elise', 'Acadia', 'Frontier'],
 'Year': [1991, 2017, 2010, 2017, 2017],
 'Engine HP': [138.0, nan, 218.0, 194.0, 261.0],
 'Engine Cylinders': [4, 4, 4, 4, 6],
 'Transmission Type': ['MANUAL', 'AUTOMATIC', 'MANUAL', 'AUTOMATIC', 'MANUAL'],
 'Vehicle_Style': ['sedan', 'Sedan', 'convertible', '4dr SUV', 'Pickup'],
 'MSRP': [2000, 27150, 54990, 34450, 32340]}

In [22]:
# default: dictionary of dictionaries
df.to_dict(orient='dict')

{'Make': {'a': 'Nissan',
  'b': 'Hyundai',
  'c': 'Lotus',
  'd': 'GMC',
  'e': 'Nissan'},
 'Model': {'a': 'Stanza',
  'b': 'Sonata',
  'c': 'Elise',
  'd': 'Acadia',
  'e': 'Frontier'},
 'Year': {'a': 1991, 'b': 2017, 'c': 2010, 'd': 2017, 'e': 2017},
 'Engine HP': {'a': 138.0, 'b': nan, 'c': 218.0, 'd': 194.0, 'e': 261.0},
 'Engine Cylinders': {'a': 4, 'b': 4, 'c': 4, 'd': 4, 'e': 6},
 'Transmission Type': {'a': 'MANUAL',
  'b': 'AUTOMATIC',
  'c': 'MANUAL',
  'd': 'AUTOMATIC',
  'e': 'MANUAL'},
 'Vehicle_Style': {'a': 'sedan',
  'b': 'Sedan',
  'c': 'convertible',
  'd': '4dr SUV',
  'e': 'Pickup'},
 'MSRP': {'a': 2000, 'b': 27150, 'c': 54990, 'd': 34450, 'e': 32340}}

In [24]:
# dictionary of series
# df.to_dict(orient='series')

In [26]:
df.to_dict(orient='split')

{'index': ['a', 'b', 'c', 'd', 'e'],
 'columns': ['Make',
  'Model',
  'Year',
  'Engine HP',
  'Engine Cylinders',
  'Transmission Type',
  'Vehicle_Style',
  'MSRP'],
 'data': [['Nissan', 'Stanza', 1991, 138.0, 4, 'MANUAL', 'sedan', 2000],
  ['Hyundai', 'Sonata', 2017, nan, 4, 'AUTOMATIC', 'Sedan', 27150],
  ['Lotus', 'Elise', 2010, 218.0, 4, 'MANUAL', 'convertible', 54990],
  ['GMC', 'Acadia', 2017, 194.0, 4, 'AUTOMATIC', '4dr SUV', 34450],
  ['Nissan', 'Frontier', 2017, 261.0, 6, 'MANUAL', 'Pickup', 32340]]}